* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("/Users/peterliebhart/Desktop/PrivateProjects/FrontendPractice/frontEndPractice/EveryoneCodesClone/ressources/Background.png");
  background-size: cover;
  position: relative;
  z-index: 1;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://img.pagecloud.com/ZGaCrIB0Y5pd_94vnuSTzdkpKt8=/2100x0/filters:no_upscale()/everyones-website/images/image-e3b82.jpeg");
  background-size: 50%;
  opacity: 0.5;
  z-index: -1;
}

nav {
  position: relative;
  display: flex;
  background-color: transparent;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

nav ul {
  margin-top: 3vh;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links {
  color: rgb(9, 2, 2);
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  font-family: "Arial";
  color: white;
  font-size: large;
  justify-content: baseline;
}
.left-icon, .right-icon {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  width: 13px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
}
.left-icon {
  left: 5px;
  transform: rotate(45deg);
}

.right-icon {
  transform: rotate(-45deg);
}

